<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{_layout}">
<head>
    <title>Thêm sản phẩm</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Edit Product</h3>

    <form th:action="@{/products/edit/{id}(id=${product.id})}"
          th:object="${product}"
          method="post"
          enctype="multipart/form-data">

        <div class="mb-3">
            <label>Product Name:</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Price:</label>
            <input type="number" th:field="*{price}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Current Image:</label><br>
            <img th:if="${product.image != null}"
                 th:src="@{/images/{img}(img=${product.image})}"
                 width="100"
                 class="img-thumbnail"/>
        </div>

        <div class="mb-3">
            <label>Change Image:</label>
            <input type="file" name="imageProduct" class="form-control">
        </div>

        <div class="mb-3">
            <label>Category:</label>
            <select th:field="*{category.id}" class="form-select">
                <option value="">-- Chọn Category --</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.name}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-warning w-100">Update Product</button>
    </form>
    </div>
</div>
</body>
</html>