<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Thêm sản phẩm</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Add New Product</h3>
            <form th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data" class="mt-4">

                <div class="mb-3">
                    <label class="form-label">Product Name:</label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Nhập tên sản phẩm">
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Price:</label>
                    <input type="number" th:field="*{price}" class="form-control">
                    <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Image:</label>
                    <input type="file" name="imageProduct" class="form-control" accept="image/*">
                    <div class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Category:</label>
                    <select name="category.id" class="form-select">
                        <option th:each="cat : ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success w-100">Add Product</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>